name: Linux build with GCC

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Dependencies
      run: sudo apt-get install -y valgrind build-essential

    - name: Compile C code
      run: make -j

    - name: Run test
      run:|
          sudo valgrind --show-leak-kinds=all --leak-check=full -s ./main